<mdb-card class="text-white mx-auto" bgColor="morpheus-den-gradient" style="max-width: 150rem">
  <span class="table-add float-right">
    <a class="text-success" routerLink="/users/user-details">Dodaj użytkownika
      <mdb-icon icon="plus" size="4x"></mdb-icon>
    </a>
  </span>
  <h1 class="mx-auto">Użytkownicy</h1>
  <mdb-card-body>
    <table mdbTable mdbTableScroll scrollY="true" maxHeight="200" bordered="true">
      <thead>
        <tr>
          <th *ngFor="let head of headElements; let i = index" scope="col">{{head}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index; ">
          <th scope="row">{{user.idOsoby}}</th>
          <td>{{user.imie}}</td>
          <td>{{user.nazwisko}}</td>
          <td>{{user.email}}</td>
          <td>
            <p *ngFor="let x of user.wniosek">-{{x.nazwa}}<br></p>
          </td>
          <td><select class="form-control" (change)="function($event)" (click)='downloadId(user.idOsoby)' required>
              <option selected="">{{user.uprawnienia}}</option>
              <option *ngFor="let perm of permission" [value]='perm'>{{perm}}</option>
            </select>
          </td>
          <td>
            <p *ngFor="let y of user.posiadaneKwalifikacjes">-{{y.opis}}<br></p>
          </td>
          <td>
              <a class="btn-floating btn-lg red" (click)='deleteUser(user.idOsoby)' *ngIf="user.uprawnienia==='Użytkownik'"><i class="fa fa-close" aria-hidden="true"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </mdb-card-body>
</mdb-card>