<mdb-card class="text-white mx-auto" bgColor="morpheus-den-gradient" style="max-width: 150rem">
  <span class="table-add float-right">
    <a class="text-success" routerLink="/management/offer/add-offer">Dodaj nową ofertę
      <mdb-icon icon="plus" size="4x"></mdb-icon>
    </a>
  </span>
  <mdb-card-header class="mx-auto">Oferty</mdb-card-header>
  <mdb-card-body>

    <table mdbTable mdbTableScroll scrollY="true" maxHeight="300" bordered="true">
      <thead>
        <tr>
          <th *ngFor="let head of headElements; let i = index" scope="col">{{head}}</th>
          <th>Edytuj</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let off of offers; let i = index; ">
          <th scope="row">{{off.idOferty}}</th>
          <td>{{off.nazwa}}</td>
          <td>{{off.opisOferty}}</td>
          <td>{{off.email}}</td>
          <td>{{off.pensja}}</td>
          <td>{{off.adresFirmy}}</td>
          <td>
            <button type="button" mdbBtn color="green" rounded="true" size="sm" class="my-0" [routerLink]="['/management/offer/edit-offer', off.idOferty, off.nazwa, off.opisOferty, off.idKategorii, off.opisTypu, off.email,off.pensja,off.adresFirmy]">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </mdb-card-body>
</mdb-card>