<mdb-card class="text-black mx-auto" bgColor="rare-wind-gradient" style="max-width: 200rem">
  <h1 class="mx-auto">
    <p style="font-size:150%;font-family:verdana" class="text-black">Wnioski do pobrania</p>
  </h1>
  <mdb-card-body>
    <table class="table table-striped table-responsive-md btn-table">
      <tbody>
        <tr>
          <td> 
            <p style="font-size:150%;font-family:verdana" (click)="downloadFile(0)" class="text-black">UMOWA W SPRAWIE SFINANSOWANIA KOSZTÓW
              SZKOLENIA INDYWIDUALNEGO </p>
          </td>
        </tr>
        <tr>
          <td>
            <p style="font-size:150%;font-family:verdana" (click)="downloadFile(1)" class="text-black">WNIOSEK O SKIEROWANIE NA SZKOLENIE
              INDYWIDUALNE
              W ZWIĄZKU Z PLANOWANYM PODJĘCIEM PRACY
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p style="font-size:150%;font-family:verdana" (click)="downloadFile(2)" class="text-black"> WNIOSEK O PRZYZNANIE JEDNORAZOWO ŚRODKÓW NA PODJĘCIE DZIAŁALNOŚCI
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p style="font-size:150%;font-family:verdana" (click)="downloadFile(3)" class="text-black">INFORMACJA PRAWNA</p>
          </td>
        </tr>
        <tr>
          <td>
            <p style="font-size:150%;font-family:verdana" (click)="downloadFile(4)" class="text-black">ZASADY FINANSOWANIA SZKOLEŃ W TRYBIE
              INDYWIDUALNYM
              OBOWIĄZUJĄCE W URZĘDZIE PRACY M. ST. WARSZAWY</p>
          </td>
        </tr>
      </tbody>
    </table>
  </mdb-card-body>
</mdb-card>