<mdb-card class="text-black mx-auto" bgColor="rare-wind-gradient" style="max-width: 200rem">
<mdb-card-header class="mx-auto"><p style="font-size:200%;font-family:verdana"class="text-danger">Przydatne wnioski do pobrania</p></mdb-card-header>
<mdb-card-body>
<table class="table table-striped table-responsive-md btn-table">
        <tbody>
          <tr>
            <td><p style="font-size:200%;font-family:verdana"class="text-danger">UMOWA W SPRAWIE SFINANSOWANIA KOSZTÓW SZKOLENIA INDYWIDUALNEGO </p></td>
            <td><button mdbBtn type="button" (click)="downloadFile(0)" gradient="peach" size="sm" mdbWavesEffect>Pobierz</button></td>
          </tr>
          <tr>
            <td><p style="font-size:200%;font-family:verdana"class="text-danger">WNIOSEK O SKIEROWANIE NA SZKOLENIE INDYWIDUALNE
                    W ZWIĄZKU Z PLANOWANYM PODJĘCIEM PRACY
                    </p></td>
            <td><button mdbBtn type="button" (click)="downloadFile(1)" gradient="peach" size="sm" mdbWavesEffect>Pobierz</button></td>
          </tr>
          <tr>
            <td><p style="font-size:200%;font-family:verdana"class="text-danger"> Wniosel o przyznanie jednorazowo środków na podjęcie działalności gospodarczej
                    w ramach pomocy de minimis
                    </p></td>
            <td><button mdbBtn type="button" (click)="downloadFile(2)" gradient="peach" size="sm" mdbWavesEffect>Pobierz</button></td>
          </tr>
          <tr>
            <td><p style="font-size:200%;font-family:verdana"class="text-danger">Informacja</p></td>
            <td><button mdbBtn type="button" (click)="downloadFile(3)" gradient="peach" size="sm" mdbWavesEffect>Pobierz</button></td>
          </tr>
          <tr>
            <td><p style="font-size:200%;font-family:verdana"class="text-danger">ZASADY FINANSOWANIA SZKOLEŃ W TRYBIE INDYWIDUALNYM
                    OBOWIĄZUJĄCE W URZĘDZIE PRACY M. ST. WARSZAWY</p></td>
            <td><button mdbBtn type="button" (click)="downloadFile(4)" gradient="peach" size="sm" mdbWavesEffect>Pobierz</button></td>
          </tr>
        </tbody>
      </table>
      </mdb-card-body>
      </mdb-card>