.col{
    color: black;
    font-size: 150%
}
.header{
    font-size: 250%;
    font-kerning: normal;

}
.header1{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 300%
}

.new:hover{
    text-decoration-line: underline;
       cursor: pointer;
       color: blue;
       font-size: 130%
   }