<mdb-card class="testimonial-card">
    <div class="card-up indigo lighten-1">
        <h1 class="header1">{{currentUser.imie}}, witamy ponownie!</h1>
    </div>
    <div class="row">
        <div class="col">
            <div class="avatar mx-left bgcolor:black">
                <img src="https://flaticons.net/gd/makefg.php?i=icons/Application/User-Profile.png&r=1&g=3&b=2" />
            </div>
        </div>
        <div class="col">
            <div class="row">
                <header class="header">Informacje o Tobie:</header>
            </div>
            <div class="row">Imię: {{currentUser.imie}}</div>
            <div class="row">Nazwisko: {{currentUser.nazwisko}}</div>
            <div class="row">Pesel: {{currentUser.pesel}}</div>
            <div class="row">E-mail: {{currentUser.eMail}}</div>
            <div class="row">Wykształcenia: {{currentUser.wyksztalcenie}}</div>
            <div class="row" (click)="showCategories()"><a class="new">Wybrane kategorie pracy</a>

            </div>
            <div class="row" (click)="showAchievements()"><a class="new">Osiągnięcia</a></div>
            <div class="row" (click)="showQualifications()"><a class="new">Dodaj osiągnięcia</a>
                <select class="form-control" (change)="function($event)" required *ngIf="toggleQualifications">
                    <option *ngFor="let qual of qualifications" [value]='qual.idKwalifikacji'>{{qual.opis}}</option>
                </select>
            </div>
            <div class="row"><a class="new" routerLink="/cv">Generator CV</a></div>
            <div class="row">
                <mdb-card *ngIf="toggleAchievements">
                    <mdb-card-body *ngFor="let kwal of userAtributes.posiadaneKwalifikacjes">
                        {{kwal.opis}}
                    </mdb-card-body>
                </mdb-card>
                <mdb-card *ngIf="toggleCategories">
                    <mdb-card-body *ngFor="let wn of userAtributes.wniosek">
                        {{wn.nazwa}}
                    </mdb-card-body>
                </mdb-card>
            </div>
        </div>
    </div>


    <mdb-card-body>
        <mdb-card-title>
            <h4>Jesteś zalogowany jako: {{currentUser.uprawnienia}}</h4>
        </mdb-card-title>
        <hr>
        <p>
            <i class="fa fa-quote-left"></i> Aplikacja jest wyłącznie symulacją działania Urzędu Pracy</p>
    </mdb-card-body>
</mdb-card>