<mdb-card class="text-white mx-auto" bgColor="morpheus-den-gradient" style="max-width: 80rem">
    <mdb-card-header class="mx-auto">Dodaj typ oferty</mdb-card-header>
    <form (ngSubmit)="onSubmit()" #f="ngForm">
    <mdb-card-body>
    <div class="input-group mb-3">
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" [(ngModel)]="type.Opis"  name="Opis">
    </div>
    <button mdbBtn type="submit"  gradient="peach" size="sm" mdbWavesEffect [disabled]="!f.valid">Dodaj</button>
    </mdb-card-body>
  </form>
</mdb-card>
