<span class="table-add float-right float-right mb-3 mr-2">
  <a class="text-success" routerLink="/offers/offers-details">
    <mdb-icon icon="plus" size="4x"></mdb-icon>
  </a>
</span>
<div class="card">

  <table class="table table-striped table-responsive-md btn-table">
    <thead>
      <tr>
        <th>Id Oferty</th>
        <th>Oferta</th>
        <th>Kategoria</th>
        <th>Edytuj</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>pierwoj</td>
        <td>@mdo</td>
        <td><button mdbBtn color="indigo" size="sm" mdbWavesEffect type="button" class="m-0">Button</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>@fat</td>
        <td><button mdbBtn color="indigo" size="sm" mdbWavesEffect type="button" class="m-0">Button</button></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td><button mdbBtn color="indigo" size="sm" mdbWavesEffect type="button" class="m-0">Button</button></td>
      </tr>
    </tbody>
  </table>
</div>